@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input,
textarea,
select {
  *font-size: 100%;
}
legend {
  color: #000000;
}
input,
textarea {
  outline: none;
}
a:link {
  text-decoration: none;
}
a:active,
a:visited {
  text-decoration: none;
  color: #333333;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak,
.ng-hide {
  display: none !important;
}
ng\:form {
  display: block;
}
.ng-animate-start {
  clip: rect(0, auto, auto, 0);
  -ms-zoom: 1.0001;
}
.ng-animate-active {
  clip: rect(-1px, auto, auto, 0);
  -ms-zoom: 1;
}
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei", "SimHei", "Arial Unicode MS";
  background-color: #FFF;
}
.grid_even {
  background: #FFF;
}
.grid_odd {
  background: #e8eaf6;
}
.md-button.md-default-theme.md-hue-1.md-primary {
  color: #FFF;
  height: 36px;
}
.md-select-label {
  color: #767474;
}
.container-warp {
  width: 1024px;
  margin: 0 auto;
  overflow: hidden;
}
md-input-container.md-default-theme > md-icon {
  color: #B8B7B7;
}
/**统一的头部样式**/
.stu-header .header-menu {
  background-color: #3fb57f;
}
.stu-header .header-menu .menu-btn-active button {
  background: #30a670;
  border-radius: 0;
}
.stu-header .header-menu .md-button.md-default-theme.md-hue-1:not([disabled]):focus {
  background: #30a670;
}
.stu-header .header-menu .md-button.md-default-theme.md-hue-1:not([disabled]):hover {
  background-color: #30a670;
  border-radius: none;
}
.stu-header .header-toolbar .header-logo {
  background: url(../images/student/student-header-logo.png) center center no-repeat;
  background-size: auto 48px;
}
.stu-header .header-toolbar .login-btn {
  color: #30a670;
}
.adm-header .header-menu {
  background-color: #3f51b5;
}
.adm-header .header-menu .menu-btn-active button {
  background: #283593;
  border-radius: 0;
}
.adm-header .header-menu .md-button.md-default-theme.md-hue-1:not([disabled]):focus {
  background: #283593;
}
.adm-header .header-menu .md-button.md-default-theme.md-hue-1:not([disabled]):hover {
  background-color: #283593;
  border-radius: none;
}
.adm-header .header-toolbar .header-logo {
  background: url(../images/admin/admin-header-logo.png) center center no-repeat;
  background-size: auto 48px;
}
.adm-header .header-toolbar .login-btn {
  color: #9fa8da;
}
.header-toolbar {
  height: 80px;
  background-color: #FFF;
  width: 100%;
}
.header-toolbar .header-logo {
  display: block;
  margin: 16px 0;
  height: 48px;
  width: 330px;
  float: left;
}
.header-toolbar .login-btn {
  background: 0 0;
  font-size: 16px;
  line-height: 80px;
  display: block;
  text-align: center;
  height: 80px;
  float: right;
}
.header-menu {
  height: 36px;
  width: 100%;
  min-width: 1024px;
}
.header-menu .md-button {
  padding: 0;
  margin: 0;
}
.header-menu .header-menu-section {
  margin-left: 10px;
  float: left;
}
/**统一的尾部**/
.footer {
  width: 100%;
  text-align: center;
  line-height: 40px;
  margin: 20px auto;
  color: #DDD;
  font-size: 14px;
}
